Installation
Prérequis
Python 3.x installé sur votre machine.
PostgreSQL installé sur votre machine ou accessible via un serveur distant.
Power BI Desktop installé pour l'analyse des données.
Dépendances Python
Dans votre terminal, utilisez la commande suivante pour installer les bibliothèques nécessaires :
pip install requests beautifulsoup4 bs4 pandas openpyxl
